<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="co.zync.zync">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>
    <!-- Allow us to write images to folder, only for <=18 as folder is private to app -->
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name="co.zync.android.ZyncApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="ManifestResource">
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="56f11d9b17391e15213ad6b5166f56c52924a99f"
                tools:replace="android:value"
        />
        <service android:name="co.zync.android.services.ZyncClipboardService"/>
        <service
                android:name="co.zync.android.services.ZyncMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
                android:name="co.zync.android.services.ZyncInstanceIdService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name="co.zync.android.activities.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="co.zync.android.activities.SettingsActivity"
                android:label="@string/zync_settings">
        </activity>
        <activity
                android:name="co.zync.android.activities.MainActivity"
                android:label="@string/title_activity_main"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="image/*"/>
            </intent-filter>
        </activity>
        <activity
                android:name="co.zync.android.activities.intro.IntroActivity"
                android:label="@string/title_activity_intro"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="co.zync.android.activities.HelpActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="co.zync.android.activities.MainActivity"/>
        </activity>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="co.zync.android.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name="co.zync.android.activities.HistoryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="co.zync.android.activities.MainActivity"/>
        </activity>
        <activity android:name="co.zync.android.activities.CreditActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="co.zync.android.activities.SettingsActivity"/>
        </activity>
        <activity android:name="co.zync.android.activities.DebugActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="co.zync.android.activities.MainActivity"/>
        </activity>
    </application>

</manifest>